body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}

p {
    font-size: 18px;
    color:#E5E7EB;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap:16px;
    
}

.header {
    padding:8px 400px;
    background-color: #1F2937;
}
.header-top {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color:#F9FAF8;    
}

.header-logo {
    font-weight: 900;
}

.hero {
    display: flex;
    padding:70px 0;
    
}
 .hero-left {
    display: flex;
    flex-flow: column wrap;
    flex:1;
}

.hero-right {
    display: flex;    
    background-color: black;
    justify-content: center;
    align-items: center;
    flex:1;
   
} 

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

button {
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
    display: flex;
    align-self: flex-start;
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: 600;
  }

  .info img {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    border: 4px solid #3882F6;
  }


  .information {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
  }

  .main {
    text-align: center;
    padding: 0 400px;
    margin:50px 0;
    
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    gap:52px;
  }

  

  .info {

    max-width: 250px;
  }